@import "config.scss";

$pink: #EFA29E;
$yellow: #F5F1D4;
$orange: #F26553;
$mint: #BEFFEF;
$brown: #A54A3E;

@mixin img-resp() {
     width: 100%;
     height: 100%;
}

@mixin anim() {
     transition: all .2s ease-in-out;
}

@mixin paralax($num) {
     transform: translate3d(0, calc(var(--scrollTop) / $num), 0) translateY(-30px);
     will-change: transform;
     transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@function vw($value, $size: 1280) {
     @return $value / $size * 100vw;
}

.wrapper {
     overflow: hidden;
}

button {
     background-color: inherit;
     border: none;
}

.container {
     width: vw(1125);
     padding: 0 vw(25);
     margin: 0 auto;
     max-width: 100%;
}

body {
     background-color: #0D0D1A;
     color: #fff;
}

.main-header {
     position: relative;
}

.logo {
     user-select: none;
     position: absolute;
     display: inline-block;
     z-index: 2;
     margin-top: vw(43);
     margin-left: vw(0);
     text-align: center;
     left: 50%;
     transform: translateX(-50%);


     &__img {
          width: vw(348);
     }
}

.main-header-img {
     width: 100vw;
     position: relative;
     top: 0;
     left: 0;
     user-select: none;

     &__bgc {
          position: relative;
          z-index: 0;

          img {
               @include img-resp;
          }
     }

     &__1,
     &__2 {
          position: absolute;
     }

     &__1 {
          right: vw(58);
          top: vw(20);

          img {
               width: vw(152);
          }
     }

     &__2 {
          left: vw(108);
          top: vw(65);
          transform: rotate(360deg);

          img {
               width: vw(210);
               height: auto;
          }
     }
}

.main-header-img-dream-girl {
     top: vw(270);
     position: absolute;
     user-select: none;

     &__1 {
          img {
               width: vw(180);
               display: inline-block;
          }
     }

     &__dialor-circle {
          display: inline-block;
          position: absolute;
          top: vw(-5);
          right: vw(1);
     }

     &__dialor-circle-1,
     &__dialor-circle-2,
     &__dialor-circle-3 {
          display: block;
          position: relative;
     }

     &__dialor-circle-1 {
          width: vw(20);
     }

     &__dialor-circle-2 {
          width: vw(13);
     }

     &__dialor-circle-3 {
          width: vw(5);
     }

     &__dialor-circle-1 {
          left: vw(10);
          bottom: vw(3);
     }

     &__dialor-circle-2 {
          left: vw(6);
     }


}

.header {
     position: relative;
     z-index: 2;
     margin-bottom: vw(20);

     &__wr {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     &__search,
     &__btn-menu {
          display: inline-block;
          vertical-align: middle;
     }

     &__search {
          margin-right: vw(30);
     }

}

.subscribe {
     color: $pink;
     font-size: vw(17);
     cursor: pointer;
     @include anim();

     &:hover {
          color: $orange;
          @include anim();

          .subscribe__icon path {
               stroke: $orange;
               @include anim();
          }
     }

     &__icon {
          margin-left: vw(10);
          vertical-align: middle;
          width: vw(105);
          height: vw(28);

          path {
               @include anim();
          }
     }
}

.search {

     &__btn {
          margin-right: vw(10);
          cursor: pointer;
     }

     &__input {
          width: vw(230);
          background-color: inherit;
          border: none;
          border-bottom: 2px solid $yellow;
          color: $yellow;
          font-family: $font-PD;
          font-size: vw(17);
     }

     &__icon {
          width: vw(13);
     }
}

.btn-menu {
     cursor: pointer;

     &__icon {
          width: vw(78);
          height: vw(78);

          line {
               @include anim();
          }

          path:nth-child(1) {
               @include anim();
          }

          &:hover {
               line {
                    stroke: $yellow;
                    @include anim();
               }

               path:nth-child(1) {
                    fill: $orange;
               }
          }

     }
}

.article-main {
     text-align: center;

     &__tag {
          font-family: $font-Form;
          color: #0D0D1A;
          font-size: vw(18);
          text-transform: uppercase;
          text-shadow: 1px 1px 1px $yellow;
          margin-bottom: vw(20);
          display: inline-block;

          img {
               height: vw(25)
          }

     }

     &__link {
          @include anim();

          &:hover {
               color: $orange;
               @include anim();
          }

          &:active {
               color: $yellow;
               @include anim();
          }

     }

     &__title {
          color: $yellow;
          font-size: vw(49);
          line-height: vw(45);
          padding-bottom: vw(10);
          font-family: $font-Form;
          text-transform: uppercase;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          width: vw(550);
          display: block;
          margin: 0 auto;
     }

     &__wr {
          text-align: center;
          margin-bottom: vw(30);
          font-family: $font-PD;
     }

     &__autor {
          color: #FFD4F3;
          font-size: vw(17);
          padding-right: vw(30);
     }

     &__time {
          font-size: vw(17);
          color: #FFD4F3;
          opacity: .5;
     }

     &__img-wr {
          display: inline-block;
          width: vw(920);
          height: vw(330);
     }

     &__img {
          @include img-resp();
          object-fit: cover;
     }
}

.section {
     position: relative;

     &__main-article {
          padding-bottom: vw(100);
     }

     &__main-quote {
          padding-bottom: vw(200);
     }

     &__main-news-letter {
          padding-bottom: vw(330);
     }

     &__section-article {
          position: relative;
          overflow: hidden;
          padding-bottom: vw(90);
     }
}

.front-el {

     &__1,
     &__2,
     &__3 {
          position: absolute;
     }

     &__1 {
          top: vw(145);
          right: 0;
          @include paralax(8.5);
          width: vw(430);

     }


     &__2 {
          top: vw(375);
          left: 0;
          @include paralax(10.5);
          width: vw(545);
     }

     &__3 {
          top: vw(245);
          left: vw(5);
          width: vw(170);
     }
}

.main-quote {

     &__row {
          display: flex;
          justify-content: space-between;
          margin-left: vw(-10);
          margin-right: vw(-10);
     }

     &__item {
          text-align: center;
          width: calc(vw(1100) / 3);
          padding: 0 vw(10);

          &--pink {
               .main-quote__title {
                    color: $pink;

               }
          }

          &--mint {
               .main-quote__title {
                    color: $mint;

               }
          }
     }

     &__tag {
          display: block;
          padding-bottom: vw(20);

          img {
               height: vw(20);
          }
     }

     &__title {
          font-family: $font-Form;
          text-transform: uppercase;
          font-size: vw(27);
          line-height: vw(29);
          letter-spacing: -1.3px
     }
}

.main-news-letter {
     position: relative;

     &__row {
          display: flex;
          justify-content: end;

     }

     &__title {
          display: block;
          text-align: center;
          font-size: vw(110);
          font-family: $font-Form;
          text-transform: uppercase;
          color: $yellow;
          line-height: vw(91);
          letter-spacing: vw(-3);
          padding-bottom: vw(50);
     }

     &__subscribe {
          text-align: right;
          padding-right: vw(270);
          position: relative;
          z-index: 2;
     }

     &__el-1,
     &__el-2,
     &__el-3,
     &__el-4,
     &__el-5,
     &__el-6 {
          position: absolute;
     }

     &__el-1 {
          top: vw(-90);
          z-index: 2;
          width: vw(434);

     }

     &__el-2 {
          top: vw(-150);
          right: 0;
          width: vw(250);
     }

     &__el-3 {
          top: vw(-300);
          width: vw(400);
     }

     &__el-4 {
          right: vw(-65);
          top: vw(30);
          width: vw(390);
          @include paralax(70)
     }

     &__el-5 {
          width: vw(330);
          left: vw(40);
     }

     &__el-6 {
          z-index: 3;
          top: vw(-100);
          left: vw(310);

          img {
               width: vw(280);
          }
     }
}

.section-article {

     &__row {
          display: flex;
          justify-content: space-between;
          margin-left: vw(-12.5);
          margin-right: vw(-12.5);
          flex-wrap: wrap;
          padding-bottom: vw(50);
     }

     &__col {
          width: 50%;
          padding: 0 vw(12.5);
     }

}

.article {
     font-family: $font-Form;
     margin-bottom: vw(80);

     &__img-wr {
          width: 100%;
          height: vw(200);
          position: relative;
          overflow: hidden;
          margin-bottom: vw(20);
     }

     &__img {
          @include img-resp();
          object-fit: cover;
          transform: scale(1);
          transition: all .3s ease-in-out;

          &:hover {
               transform: scale(1.1);
               transition: all .3s ease-in-out;
          }

     }

     &__tag {
          position: absolute;
          font-size: vw(18);
          top: vw(15);
          right: vw(15);
          color: #0D0D1A;
          text-transform: uppercase;

          img {
               height: vw(20);
          }
     }

     &__title {
          display: block;
          font-size: vw(27);
          line-height: vw(30);
          margin-bottom: vw(10);
     }

     &__link {
          @include anim();

          &:hover {
               color: $yellow;
               @include anim();
          }

          &:active {
               color: $orange;
               @include anim();
          }
     }

     &__text {
          font-size: vw(16);
          line-height: vw(21);
          display: block;
          margin-bottom: vw(30);
          font-family: $font-RHD;
          font-weight: 300;
     }

     &__wr {
          display: block;
          color: #FFD4F3;
          font-size: vw(17);
          font-family: $font-PD;
     }

     &__autor {
          margin-right: vw(60);
     }

     &__time {
          opacity: .5;
     }

}

.auasar-img {

     &__img-1 {
          position: absolute;
          top: vw(630);
          width: vw(170);
          right: 0;
          z-index: -1;
     }
}

.pagination {

     &__row {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     &__middle {
          .current {
               position: relative;
               padding: 0 vw(50);

               &::after {
                    content: '';
                    width: vw(75);
                    height: vw(75);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    position: absolute;
                    background-image: url(../img/icon/pagination-circle.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: -1;
               }
          }

          .page-numbers {
               font-family: $font-Form;
               font-size: vw(27);
               color: $brown;
               margin-right: vw(10);
          }

          .page-numbers:nth-last-child(1) {
               margin-right: 0;
          }
     }

     .prev,
     .next {
          color: $pink;
          font-family: $font-PD;
          font-size: vw(17);
          @include anim();

          &:hover {
               color: $orange;
               @include anim();

               svg {
                    path {
                         stroke: $orange;
                         @include anim();
                    }
               }
          }

          span,
          svg {
               display: inline-block;
               vertical-align: middle;
          }

          svg {
               path {
                    @include anim();
               }
          }
     }

     .prev {
          svg {
               margin-right: vw(10);
               width: vw(52);
               height: vw(20);
          }
     }

     .next {
          svg {
               margin-left: vw(10);
               width: vw(70);
               height: vw(30);
          }
     }

}

.button-ask-me {
     text-align: center;

     &__button {
          cursor: pointer;

          &:hover {
               .button-ask-me__icon {
                    path:nth-child(1) {
                         fill: $pink;
                         @include anim();
                    }
               }
          }

          &:active {
               .button-ask-me__icon {
                    path:nth-child(1) {
                         fill: $orange;
                         @include anim();
                    }
               }
          }
     }

     &__icon {
          width: vw(470);
          height: vw(80);
          display: inline-block;

          path {
               @include anim();
          }
     }
}

.footer {
     position: relative;

     &__wrapper {
          padding-top: vw(30);
     }

     &__img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          img {
               width: 100%;
               height: 100%;
               object-fit: fill;
          }
     }

     .container {
          position: relative;
          z-index: 2;
     }

     &__title {
          text-align: center;
          color: $yellow;
          text-transform: uppercase;
          font-size: vw(240);
          font-family: $font-Form;
          margin-bottom: vw(110);
          position: relative;
          z-index: 2;
     }

     &__rocket {
          position: absolute;
          left: vw(285);
          top: vw(-35);
     }

     &__rocket-1 {
          width: vw(280);
          transform: rotate(359deg);
     }

     &__rocket-2 {
          position: absolute;
          left: vw(145);
          bottom: vw(-10);
          width: vw(160);
     }

     &__el-1,
     &__el-2 {
          position: absolute;
          left: 0;
     }

     &__el-1 {
          top: vw(180);
          z-index: 2;
          width: vw(500);
     }

     &__el-2 {
          top: vw(110);
          width: vw(530);
     }

     &__middle {
          display: flex;
          justify-content: space-between;
          margin-bottom: vw(10);
     }

     &__middle-item {
          width: calc(vw(1125) / 5);
     }

     &__middle-item:nth-child(1) {
          margin-right: vw(100);
     }

     &__middle-item:nth-child(4) {
          margin-right: vw(80);
     }

     &__middle-item:nth-child(3) {
          margin: 0 vw(40);
     }

     &__item-title {
          font-family: $font-Form;
          font-size: vw(27);
          text-transform: uppercase;
          margin-bottom: vw(10);
          display: block;
     }

     &__text {
          font-family: $font-RHD;
          color: #DFDFDF;
          opacity: .5;
          font-size: vw(16);
          line-height: vw(21);
          font-weight: 300;
     }

     &__logo {
          display: block;
          text-align: center;
          position: relative;
          top: vw(-30);
     }

     &__logo-img {
          width: vw(130);
     }

     &__inf {
          font-size: vw(14);
          text-transform: uppercase;
          font-family: $font-Form;
          color: $yellow;

     }

     &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: vw(50);
     }

     &__social {
          padding-left: vw(400);
          display: flex;
     }

     &__social-item {
          list-style-type: none;
          display: inline-block;
          padding-right: vw(15);
     }

     &__social-link {
          display: inline-block;

          svg {
               path {
                    @include anim();
               }

               &:hover {
                    path {
                         fill: $pink;
                         @include anim();
                    }
               }

               &:active {
                    path {
                         fill: $orange;
                         @include anim();
                    }
               }
          }
     }

     &__science {
          text-transform: uppercase;
          color: $yellow;
          font-size: vw(14);
     }

     .facebook {
          svg {
               width: vw(17);
               height: vw(31);
          }
     }

     .twitter {
          svg {
               width: vw(37);
               height: vw(30);
          }
     }

     .instagramm {
          svg {
               width: vw(37);
               height: vw(36);
          }
     }

     .youtube {
          svg {
               width: vw(36);
               height: vw(36);
          }
     }
}